<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rsmproj.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>rsmproj.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>rsmproj</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$rsmproj</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WIN-KKRO09GL1GC" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:yddhk711zp.database.windows.net,1433;Initial Catalog=RSM;Integrated Security=False;User ID=BookYourFood@yddhk711zp;Password=Book_Your_Food;Connect Timeout=30;Encrypt=True" Name="Server=tcp:yddhk711zp.database.windows.net,1433;Database=RSM;User ID=BookYourFood@yddhk711zp;Password=Book_Your_Food;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RSM.Entities.RsmDbContext, Entities" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Tomasz" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:rstraszewski.database.windows.net,1433;Initial Catalog=rsmproj_db;User ID=rstraszewski@rstraszewski;Password=Okirway7" Name="Data Source=tcp:rstraszewski.database.windows.net,1433;Initial Catalog=rsmproj_db;User Id=rstraszewski@rstraszewski;Password=Okirway7" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\v11.0;Initial Catalog=RSM;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Tomasz_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\v11.0; Integrated Security=true;Initial Catalog=RSM; MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Default" Order="4" Enabled="False">
          <Destination Path="Data Source=rstraszewski.database.windows.net;User ID=rstraszewski;Password=Okirway7" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=WIN-KKRO09GL1GC;Initial Catalog=RSM;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Default_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=WIN-KKRO09GL1GC;Initial Catalog=RSM; Integrated Security=True; MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Default-Web.config Connection String">
      <ParameterValue>data source=rstraszewski.database.windows.net;user id=rstraszewski;password=Okirway7;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Tomasz-Web.config Connection String">
      <ParameterValue>data source=tcp:rstraszewski.database.windows.net,1433;initial catalog=rsmproj_db;user id=rstraszewski@rstraszewski;password=Okirway7;MultipleActiveResultSets=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WIN-KKRO09GL1GC-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>Server=tcp:yddhk711zp.database.windows.net,1433;Database=RSM;User ID=BookYourFood@yddhk711zp;Password=Book_Your_Food;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>